{% extends "base.html" %}

{% block title %}Flavours{% endblock title %}

{% block home_btn %}nav-link{% endblock home_btn %}

{% block about_btn %}nav-link{% endblock about_btn %}

{% block contact_btn %}nav-link{% endblock contact_btn %}

{% block body %}


    <div class="container">
        <h1>Our Premium Ice Cream Flavours:</h1>
        <ul class="list-group list-group-flush">
            <h3 class="list-group-item">Vanilla</h3>
            <h3 class="list-group-item">Chocolate</h3>
            <h3 class="list-group-item">Strawberry</h3>
            <h3 class="list-group-item">Mint</h3>
            <h3 class="list-group-item">Coffee</h3>
            <h3 class="list-group-item">Pistachio</h3>
            <h3 class="list-group-item">Lemon</h3>
            <h3 class="list-group-item">Mango</h3>
            <h3 class="list-group-item">Blueberry</h3>
            <h3 class="list-group-item">Raspberry</h3>
            <h3 class="list-group-item">Coconut</h3>
            <h3 class="list-group-item">Green Tea</h3>
            <h3 class="list-group-item">Almond</h3>
            <h3 class="list-group-item">Caramel</h3>
            <h3 class="list-group-item">Butter Pecan</h3>
            <h3 class="list-group-item">Black Cherry</h3>
            <h3 class="list-group-item">Honey</h3>
            <h3 class="list-group-item">Banana</h3>
        </ul>
    </div>
{% endblock body %}
